# WEBSCRAPING using SELENIUM

In [242]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd
import pymongo
import json

In [197]:
url="https://craft.co/walmart/locations"

In [198]:
driver=webdriver.Chrome()
driver.get(url)

In [217]:
videos=driver.find_elements(By.CLASS_NAME,'ZlaP1')

In [250]:
country_list=[]
city_list=[]
address_list=[]

In [251]:
for video in range(len(videos)):
    if video==6:
        break
    country=videos[video].find_element(By.CSS_SELECTOR,f'#app > div > div._3rEQk > section:nth-child(5) > div > div > table:nth-child(1) > tbody > tr:nth-child({video+1}) > td:nth-child(1)').text
    city=videos[video].find_element(By.CSS_SELECTOR,f'#app > div > div._3rEQk > section:nth-child(5) > div > div > table:nth-child(1) > tbody > tr:nth-child({video+1}) > td:nth-child(2)').text
    address=videos[video].find_element(By.CSS_SELECTOR,f'#app > div > div._3rEQk > section:nth-child(5) > div > div > table:nth-child(1) > tbody > tr:nth-child({video+1}) > td:nth-child(3)').text
    country_list.append(country)
    city_list.append(city)
    address_list.append(address)

In [252]:
data_dict={"country":country_list,"city":city_list,"address":address_list}
df_1=pd.DataFrame(data_dict)
df_1

In [255]:
url="https://craft.co/tata/locations"

In [256]:
driver=webdriver.Chrome()
driver.get(url)

In [257]:
videos=driver.find_elements(By.CLASS_NAME,'ZlaP1')

In [259]:
country_list=[]
city_list=[]
address_list=[]

In [260]:
for video in range(len(videos)):
    if video==6:
        break
    country=videos[video].find_element(By.CSS_SELECTOR,f'#app > div > div._3rEQk > section:nth-child(5) > div > div > table:nth-child(1) > tbody > tr:nth-child({video+1}) > td:nth-child(1)').text
    city=videos[video].find_element(By.CSS_SELECTOR,f'#app > div > div._3rEQk > section:nth-child(5) > div > div > table:nth-child(1) > tbody > tr:nth-child({video+1}) > td:nth-child(2)').text
    address=videos[video].find_element(By.CSS_SELECTOR,f'#app > div > div._3rEQk > section:nth-child(5) > div > div > table:nth-child(1) > tbody > tr:nth-child({video+1}) > td:nth-child(3)').text
    country_list.append(country)
    city_list.append(city)
    address_list.append(address)

In [261]:
country_list

['India',
 'United States',
 'China',
 'Singapore',
 'United Arab Emirates',
 'United Kingdom']

In [262]:
data_dict={"country":country_list,"city":city_list,"address":address_list}
df_2=pd.DataFrame(data_dict)

In [263]:
df_1

         country         city               address
0  United States  Bentonville      702 SW 8th St HQ
1  United States  Bentonville          2608 SE J St
2  United States      Hoboken          221 River St
3  United States    San Bruno        850 Cherry Ave
4  United States    Sunnyvale  840 W California Ave
5         Canada  Mississauga      1940 Argentia Rd

In [264]:
df_2

,country,city,address
0,India,Mumbai,"Bombay House, Homi Modi St, Kala Ghoda, Fort HQ"
1,United States,Arlington,1700 N Moore St #1520
2,China,Beijing,"Suite 10A, Tower A, Gateway Plaza 18 Xiaguangl..."
3,Singapore,Singapore,"78 Shenton Way, #14 02"
4,United Arab Emirates,Dubai,"2001 to 2005, 20th Floor Jumeirah Bay X-3 Towe..."
5,United Kingdom,London,18 Grosvenor Pl

In [268]:
data_1=df_1.to_dict(orient="records")
data_2=df_2.to_dict(orient="records")

In [269]:
data_1

[{'country': 'United States',
  'city': 'Bentonville',
  'address': '702 SW 8th St HQ'},
 {'country': 'United States',
  'city': 'Bentonville',
  'address': '2608 SE J St'},
 {'country': 'United States', 'city': 'Hoboken', 'address': '221 River St'},
 {'country': 'United States',
  'city': 'San Bruno',
  'address': '850 Cherry Ave'},
 {'country': 'United States',
  'city': 'Sunnyvale',
  'address': '840 W California Ave'},
 {'country': 'Canada', 'city': 'Mississauga', 'address': '1940 Argentia Rd'}]

In [270]:
data_2

[{'country': 'India',
  'city': 'Mumbai',
  'address': 'Bombay House, Homi Modi St, Kala Ghoda, Fort HQ'},
 {'country': 'United States',
  'city': 'Arlington',
  'address': '1700 N Moore St #1520'},
 {'country': 'China',
  'city': 'Beijing',
  'address': 'Suite 10A, Tower A, Gateway Plaza 18 Xiaguangli, East 3rd Ring North Road'},
 {'country': 'Singapore',
  'city': 'Singapore',
  'address': '78 Shenton Way, #14 02'},
 {'country': 'United Arab Emirates',
  'city': 'Dubai',
  'address': '2001 to 2005, 20th Floor Jumeirah Bay X-3 Tower Cluster X'},
 {'country': 'United Kingdom', 'city': 'London', 'address': '18 Grosvenor Pl'}]

# connecting MONGODB

In [267]:
client=pymongo.MongoClient("mongodb://localhost:27017")

In [271]:
db=client["E42_minor_project_1"]

In [272]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'E42_minor_project_1')

In [273]:
db.Walmart.insert_many(data_1)
db.Tata.insert_many(data_2)